/* ===========================
   Rabico v0.1
   =========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:linear-gradient(135deg,#0a0a0a,#141414);
    color:white;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

h1{
    font-size:70px;
    font-weight:700;
    margin-bottom:15px;
    text-align:center;
}

p{
    font-size:22px;
    color:#bdbdbd;
    text-align:center;
    margin-bottom:40px;
}

button{
    width:260px;
    height:55px;

    margin:12px auto;
    display:block;

    border:none;
    border-radius:16px;

    background:white;
    color:black;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

button:hover{
    transform:translateY(-3px);
}

button:active{
    transform:scale(.96);
}
